.card {
  width: 540px;
  height: 220px;
  background-color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #151617;
  padding-top: 30px;
}

.content {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #4F4F4F;
  margin-top: 8px;
  padding: 0 32px 32px 32px;
}
