.testimonial {
  height: 610px;
  background-color: #F2F7FF;
}

.title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #2D2F30;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 51px;
}
